<div class="process-wrapper">
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-2048">
		</div>
		<div class="col-md-6">
			<h2>2,048</h2>
			<p>Datasets initially reported</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-1955">
		</div>
		<div class="col-md-6">
			<h2>1,955</h2>
			<p>After removing datasets dealing with personnel</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-1793"></div>
		<div class="col-md-6">
			<h2>1,793</h2>
			<p>After removing protected datasets</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-951"></div>
		<div class="col-md-6">
			<h2>951</h2>
			<p>After removing datasets that were incorrectly identified as data</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-854"></div>
		<div class="col-md-6">
			<h2>854</h2>
			<p>After removing datasets with known quality issues</p>
		</div>
	</div>
</div>