<div class="process-wrapper">
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-2048">
		</div>
		<div class="col-md-6">
			<h2>2,048</h2>
			<p>Datasets in the initial inventory results</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-1955">
		</div>
		<div class="col-md-6">
			<h2>1,955</h2>
			<p>Removing datasets dealing with personnel</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-1793"></div>
		<div class="col-md-6">
			<h2>1,793</h2>
			<p>Removing datasets marked sensitive or protected</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-951"></div>
		<div class="col-md-6">
			<h2>951</h2>
			<p>Removing datasets marked as having quality issues</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 datasets-gr datasets-854"></div>
		<div class="col-md-6">
			<h2>854</h2>
			<p>Datasets to verify</p>
		</div>
	</div>
</div>