<!-- Header Carousel -->
<header id="header-image">
	<div class="container jumbo-intro">
		<!--<div class="col-md-4 cta-box">
			<h2> Open Data Inventory Released </h2>
	        <p class="sub">What do you want to see on the portal?</p>
	        <p>
        	<a href="/inventory" role="button" class="col-md-8 btn btn-lg btn-secondary">
       			Review and Vote
        	</a>
        	</p>
	        
        </div>-->
        <div class="col-md-12 welcome-intro">
			<h2>Data to give San Diegans Superpowers</h3>
			<p>Combined with the ingenuity of San Diegans, the City's data can become a catalyst for something something...</p>

			
			<div class="col-md-6">
			<h4>Search San Diego Data</h4>
			<form action="http://data.sandiego.gov/search/type/dataset" target="_blank" method="get" id="portal-search-form">
			    <div class="input-group">
			      <input id="query" type="text" name="query" class="form-control" placeholder="Search">
			      <input type="hidden" name="sort_by" value="title"/>
			      <input type="hidden" name="sort_order" value="ASC"/>
			      <span class="input-group-btn">
			        <button id="submit" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			      </span>
			    </div><!-- /input-group -->
			  </div>
			</form>
		</div>
	</div>	
</header>
