<!-- Header Carousel -->
<header id="header-image">
	<div class="container panel jumbo-intro">
		<h3>Welcome to the new home of DataSD!</h3>
		<p> As we continue to evolve the City's Open Data Program, we will continue to work and expand the content on this page to create a smooth way of communicating with the public.  Meanwhile, browse, explore, and most importantly, vote on our inventory! </p>
	</div>	
</header>
<div class="row small-top-banner">
  <div class="col-md-12">
    Data for the <i class="fa fa-heartbeat"></i> of the City. <a href="/about" title="About DataSD"> Learn more about DataSD</a>.
  </div>
</div>