<!-- Header Carousel -->
<header id="header-image">
	<div class="container jumbo-intro">
		<div class="col-md-4 cta-box">
			<h2> Open Data Inventory Released </h2>
	        <p class="sub">What do you want to see on the portal?</p>
	        <p>
        	<a href="/inventory" role="button" class="col-md-8 btn btn-lg btn-secondary">
       			Review and Vote
        	</a>
        	</p>
	        
        </div>
        <div class="col-md-8">
			<h3>Welcome to DataSD, the new home of the City of San Diego's Open Data Program</h3>
			<p>We have big plans for DataSD - the new home of the Open Data Program in San Diego.  We want to it to be a place for you to learn about government data, and learn how to get involved in the community.  As we continue building the site, you will see a lot more on here, but meanwhile - and most importantly, make sure to review and vote on the new Open Data Inventory! </p>
		</div>
	</div>	
</header>
