/** Assists **/

@mixin merriweather {
  font-family: "Merriweather",Helvetica, Arial, sans-serif;
}

@mixin opensans{
  font-family: "Open Sans",Helvetica, Arial, sans-serif;
}


/* Mixin */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Classic Pallete */
/*http://take.ms/7Sv5Z*/


$p_blue: #0098db;
$p_green: #00c7b2;
$p_orange: #ffa02f;
$p_yellow: #fcd900;
$p_white: #ffffff;
$p_black: #37424a;
$p_beige: #dad7cb;

/* Secondary colors are marked as row / col from here: http://take.ms/At27q */;
$s_black_1_6: #1b242a;
$s_blue_1_1: #00549f;
$s_green_2_2: #009581;

$white: white;

$off_white: #f6f6f6;
$table_dark: #E4E9EB;
$table_light: transparent;

$trans_light: rgba(0,0,0,0.35);
$trans_dark: rgba(0,0,0,0.70);

$bg_opacity: 0.95;



/** End Assists **/

body {
  @include opensans;
  font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  @include merriweather;
}

/** Navbar **/
img.logo {
  background: $p_blue;
  height: 60px;
}

.panel {
  border-radius: 0px;
}

.sd-navbar-top.navbar-default {
  background: $p_blue;
  .navbar-header {
    margin-top: 3px;
    height:80px;
  }
  .navbar-brand {
    padding: 0px;
    padding-top:5px;
    color: white;
  }
  span#title {
    position: relative;
    top:19px;
    font-size: 2em;
  }
  .navbar-nav {
    margin-top:20px;
  }

  .navbar-collapse {
    background: $p_blue;
  }

  li a {
    color: white;
  }
  height: 85px;
}

#footer-bar {
  background: $s_blue_1_1;
  height:30px;
  position: fixed;
  bottom:0px;
  z-index: 9999999;
  opacity: 0.99;
  border-radius: 0px;
  text-align: center;
  line-height: 30px;
  padding-left:10px;
  padding-right:10px;
  width: 100%;
  color: rgb(227, 231, 234);
  a, a:hover, a:visited {
    color: white;
    text-decoration: underline;
  };
}

.btn-secondary {
  background: $p_orange;
  color: white;
}

