/*
The main SCSS file for everything, yep
*/
@import "bootstrap";
@import "modernbiz";
@import "syntax";
@import "sd";

.carousel {
	background: url("/assets/images/skyline.jpg") no-repeat scroll center bottom /cover;
}

.small-top-banner {
	background: $s_blue_1_1;
	text-align: center;
	color: white;
	font-size: 1.2em;
	padding-top: 3px;
	padding-bottom:3px;
	a {
		color: white;
		text-decoration: underline;
	}
}

#header-image {
	/*background: url('http://mrm-screen.s3.amazonaws.com/skyline.jpg') no-repeat fixed center bottom /cover;*/
	background: url('http://mrm-screen.s3.amazonaws.com/home-hero-1.jpg') no-repeat fixed center bottom /cover;
	position: relative;
	top:34px;
	min-height: 450px;
	padding-top:30px;
}

#header-image.small{
	background: url('http://mrm-screen.s3.amazonaws.com/home-hero-1-1.jpg') no-repeat fixed center;
	background-position-y: top;
	min-height: 300px;
	padding-top:0px;
}


.page-header {
  font-weight: bold;
  color: $p_black;
  text-align: center;
  background: white;
  opacity: $bg_opacity;
  padding-top:55px;
  padding-bottom:55px;
  margin-bottom:0px;
  border-bottom:0px;
  font-size: 3em;

}

.section-header {
	padding-left:0px;
	padding-right:0px;
}

.fp-panel {
	i.text-primary {
		color: $p_green;
	}
	a.btn-go, a.btn-go:active, a.btn-go:hover {
		background: $p_orange;
		border-color: $p_orange;
	}
	padding-bottom:80px;
}


.panel {
	background: white;
	opacity: $bg_opacity;
}

.page.container {
	.page-content {
		background: white;
		opacity: $bg_opacity;
		padding:10px;
		margin-bottom:80px;
		padding-top:1px;
	}
}

.big-num {
	.panel-heading {
		background: transparent;
		border: 0px;
		font-size: 1em;
		color: white;
	}
	.chart-stage {
		font-size: 4em;
	}
	.chart-bottom {
		font-size: 0.9em;
	}
	background: $p_blue;
	color: white;
	font-weight: bold;
	font-size: 1em;
}

.process-wrapper {
	h2 {
		font-weight: bold;
		font-size:2.5em;
		color: $p_blue;
		margin-top:0px;
	}
	.arrow-next {
		color: $p_green;
	}
}

#inventory-table {
	background: transparent;
	padding:20px;
	font-size:0.8em;
	tr.light {
		background: $table_light;
	}
	tr.dark {
		background: $table_dark;
	}
	th {
		@include merriweather;
	}
}

.jumbo-intro {
	background: $trans_light;
	color:white;
	.cta-box {
		background: $trans_light;
		padding:30px;
		margin-bottom:25px;
		.btn {
			
		}
	}
	padding:30px;

}

.title-intro {
	background: transparent;
	color:black;
	position: relative;
	top:110px;
	
}

.add-dataset {
	margin-top:30px;
}

#inventory .panel-heading{
	background-image: url("http://take.ms/K0n7c");
}

#opensd .panel-heading{
	background-image: url("http://take.ms/GK1Gk");
}

#opengov .panel-heading {
	background-image: url("http://take.ms/WjYwC");
}

#sdmaps .panel-heading {
	background-image: url("http://take.ms/5AThk");
}

#odpolicy .panel-heading {
	background-image: url("http://mrm-screen.s3.amazonaws.com/14324-illustration-of-a-book-pv.png");
}

#councilupdate .panel-heading{
	background-image: url("http://take.ms/FJnAS");
}

#pasite .panel-heading {
	background-image: url("http://take.ms/bevC1");
}



.fp-panel .panel-heading {
	background-size: cover;
	background-position-x:50%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	height: 250px;
	border: 0px;
	background-color:white;
}

.fp-panel .panel-body {
	background: $trans_dark;
	color:white;
	@include merriweather;
	padding: 5px;
	padding-left: 10px;
	position: relative;
	bottom: 0px;
	width:100%;
	border:0px;
}

.page-container {
	margin-top: 34px;
}

  .datasets-gr{
    background-repeat: no-repeat;
    height:110px;
    padding-bottom:15px;
  }
  .datasets-2048{
    background-image: url("/assets/images/datasets-2048-lg.png");
  }
  .datasets-1955{
    background-image: url("/assets/images/datasets-1955-lg.png");
  }
  .datasets-1793{
    background-image: url("/assets/images/datasets-1793-lg.png");
  }
  .datasets-951{
    background-image: url("/assets/images/datasets-951-lg.png");
  }
  .datasets-854{
    background-image: url("/assets/images/datasets-854-lg.png");
  }

  .process-wrapper{
  padding:10px 0 10px 0;
  }

    .datasets-gr{
    background-repeat: no-repeat;
    height:110px;
    padding-bottom:15px;
  }
  .datasets-2048{
    background-image: url("/assets/images/datasets-2048-lg.png");
  }
  .datasets-1955{
    background-image: url("/assets/images/datasets-1955-lg.png");
  }
  .datasets-1793{
    background-image: url("/assets/images/datasets-1793-lg.png");
  }
  .datasets-951{
    background-image: url("/assets/images/datasets-951-lg.png");
  }
  .datasets-854{
    background-image: url("/assets/images/datasets-854-lg.png");
  }



 /*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .jumbo-intro{
		padding-bottom:0px;
		padding-left:10px;
		padding-right:10px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.jumbo-intro{
		padding-bottom:0px;
		padding-left:10px;
		padding-right:10px;
	}


}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {
	.jumbo-intro{
		padding-bottom:0px;
		padding-left:10px;
		padding-right:10px;
	}
	.sd-navbar-top.navbar-default .navbar-header {
		height:0px;
	}
	#header-image {
		background-position-y: -170px;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.page.container .page-content {
		padding:50px;
	}
	#header-image.small {
		background-position-x: center;
		background-size: cover;
		background-position-y: -150px;
	}
	#header-image {
		background-position-x: center;
		background-size: cover;
		background-position-y: -150px;
	}
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}


