/*
The main SCSS file for everything, yep
*/
@import "bootstrap";
@import "modernbiz";
@import "syntax";
@import "sd";

.carousel {
	background: url("/assets/images/skyline.png") no-repeat scroll center bottom /cover;
}

.small-top-banner {
	background: $s_blue_1_1;
	text-align: center;
	color: white;
	font-size: 1.2em;
	padding-top: 3px;
	padding-bottom:3px;
	a {
		color: white;
		text-decoration: underline;
	}
}

.fp-panel {
	h1.page-header {
	  font-weight: bold;
	  color: $p_orange;
	}
	i.text-primary {
		color: $p_green;
	}
	a.btn-go, a.btn-go:active, a.btn-go:hover {
		background: $p_orange;
		border-color: $p_orange;
	}
}
