---
layout: default
title: Home
---

{% include header_img.html %}

  <div class="container fp-panel page-container">
  <!-- Get Involved -->
    <div class="col-lg-12 section-header">
        <h1 class="page-header">
            Get Involved
        </h1>
    </div>
    <div class="row">
        {% include fp-panel.html title="Review the Inventory" id="inventory" href="/inventory"%}

        {% include fp-panel.html title="Attend an Open San Diego Meeting" id="opensd" href="http://www.meetup.com/Open-San-Diego" target="_blank" %}
    </div>

    <div class="col-lg-12 section-header">
        <h1 class="page-header">
            Made With Data
        </h1>
    </div>
    <div class="row">
        {% include fp-panel.html title="Budget Transparency" id="opengov" href="https://budget.sandiego.gov" target="_blank" %}

        {% include fp-panel.html title="San Diego Map Gallery" id="sdmaps" href="http://sandiego.maps.arcgis.com/apps/PublicGallery/index.html?appid=99ca3e0f7a9a42e3a0667c4682bd78dc&group=085e8d24276a4b2a827146cff5fdbf80" target="_blank" %}

    </div>
    <div class="col-lg-12 section-header">
        <h1 class="page-header">
            Resources
        </h1>
    </div>
    <div class="row">
        {% include fp-panel.html title="Open Data Policy" id="odpolicy" href="http://dockets.sandiego.gov/sirepub/view.aspx?cabinet=published_meetings&fileid=757846" target="_blank" width="col-md-4" %}

        {% include fp-panel.html title="Council Update" id="councilupdate" href="http://tiny.cc/odreport" target="_blank" width="col-md-4" %}

        {% include fp-panel.html title="Performance & Analytics" id="pasite" href="http://sandiego.gov/pad" target="_blank" width="col-md-4" %}

    </div>
  </div>