---
layout: page
title: Inventory
---

<p>Where are the firepits and lifeguard stations on beaches? What kinds of traffic accidents occur in your neighborhood? When are the overhead utility lines around your house getting moved underground?</p>

<p>We will feature data that can answer questions like these on an Open Data portal set to launch in July 2016. But because we can’t publish everything all at once without our rigorous quality control process, we want public input on which datasets to put onto the portal first. Check out our list, and leave a comment on the datasets you find the most interesting.</p>

<h2>How did we get this list?</h2>

<p>This list features the first round of results from a citywide data inventory the newly formed Open Data team conducted. The inventory is part of a larger effort to make the City of San Diego more open, accessible, efficient, and transparent by creating a central place where residents and City employees can get up-to-date data about city operations. <a href="http://www.sandiego.gov/pad/programs/opendata.shtml" target="_blank">Learn more about Open Data in San Diego.</a></p>

<p>The inventory required the help of 65 people from 35 City programs and departments. These coordinators identified datasets maintained by their departments and gave us some basic information about each, including which City software system houses the data. <a href="https://datasd.gitbooks.io/council_report/content/main/process_overview.html" target="_blank">Learn more about the inventory process.</a></p>

<p>We designed the process to cast a wide net for possible datasets. This meant we have had to check each submission and conduct some quality control. It’s important to us that when we tell you we have a dataset, that we actually have it instead of realizing later on that we made a mistake.  In compliance with our open data policy we have removed items that are not datasets, that track information about employees, that could pose a security threat to the City if released, or that include data of poor or questionable quality.</p>

<p>What we have below are some of the highest-quality datasets representing a wide range of City activities. We will add to this list as we process more of the initial inventory and launch an automated solution to keeping our inventory updated.</p>

<h2>Breakdown of inventory results</h2>

{% include count_graphic.html %}

<h2>Current inventory list</h2>

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default text-center big-num">
            <div class="panel-body">
                <div class="chart-stage row" id="datasetsInv">
                    
                </div>
                <div class="chart-bottom row">
                    Datasets Inventoried
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <div class="chart-stage" id="invByCat">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default text-center big-num">
            <div class="panel-body">
                <div class="chart-stage row" id="deptRep">
                    35
                </div>
                <div class="chart-bottom row">
                    Departments Represented
                </div>
            </div>
        </div>
    </div>
</div>

<div id="inventory-table">
    <table 
    cellpadding="0" 
    cellspacing="0" 
    border="0" 
    class="table table-striped table-bordered" 
    id="invTable">
    <thead>
        <tr>
            <th>Date Added</th>
            <th>Category</th>
            <th>Description</th>
            <th>Vote</th>
        </tr>
    </thead>
    <tbody>

        {% for invRow in site.data.inventory %}
            {% if invRow.Category %}
                {% capture linkID %}ds_id_{{ invRow.ID }}{% endcapture %}
                <tr id="{{ linkID }}">
                    <td class="dateAdded"> {{ invRow.DateAdded }} </td>
                    <td class="cat"> {{ invRow.Category }} </td>
                    <td class="desc"> {{ invRow.Description }} </td>
                    <td class="dateAdded"> <a target="_blank" class="vote-link" id="{{ linkID }}" href="https://sdcdo.wufoo.com/forms/vote-for-a-dataset/def/field6={{ linkID }}">Vote</a> </td>
                </tr>
            {% endif %}
        {% endfor %}        

    <tbody>

    </table>
</div>

<div class="row add-dataset">
    <div class="col-md-6 col-md-offset-5">
        Don't see a dataset here that you thought you would?  We could still be getting it ready for the inventory, but let us know just in case so we can talk to our coordinators by filling out <a title="Suggest dataset" href="https://sdcdo.wufoo.com/forms/suggest-a-dataset/" target="_blank">this form. </a>
    </div>
    <div class="col-md-1">
        <a title="Suggest dataset" href="https://sdcdo.wufoo.com/forms/suggest-a-dataset/" target="_blank"><i class="fa fa-5x fa-plus-square-o"></i></a>
    </div>
</div>  
